*{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: url("Imagens/fundo.jpg") no-repeat center / cover;
  padding: 50px;
}

.container {
  position: relative;
  height: 100%;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(30px);
  border-radius: 30px;
}

header {
  position: absolute;
  top: 20;
  left: 40;
  width: 100%;
  padding: 25px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 20px;
  color: aliceblue;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  border-bottom: 2px solid transparent;
  transition: .5s;
}

.navbar a:hover,
.navbar a.active {
  border-color: aliceblue;
}

.home {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 50px;
  padding: 50px 5% 0;
  color: aliceblue;
 
}

.home-detail h1 {
  font-size: 55px;
  line-height: 1 ;
}

.home-detail h2 {
  font-size: 32px;
}

.home-detail p {
  margin: 10px 0 20px;

}

.home-detail .social-icons {
  margin-left: 20px;
}

.home-detail .social-icons a {
  display: inline-flex;
  padding: 8px;
  border: 2px solid beige;
  border-radius: 50%;
  font-size: 20px;
  color: bisque;
  text-decoration: none;
  margin:0 8px;
  transition: .5s;

}

.home-detail .social-icons a:hover {
  background: blanchedalmond;
  box-shadow: 0 0 10px blanchedalmond;
  color: rgb(241, 226, 157);
  
}

.home-img .img-box {
  position: relative;
  width:28vw;
  height: 28vw;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 0 20px bisque;
  overflow: hidden;
}

.home-img .img-box img {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  object-fit: cover;

}